---
const { message = "Thanks! We'll get in touch soon.", success = true } = Astro.props;
---

<div
  id=`${success ? 'success': 'failure'}-toast`
  class=`toast v-1/4 animate-fade fixed left-1/3 hidden w-1/3 rounded-full ${success ? 'bg-primary-200' : 'bg-secondary-200'} bg-opacity-80`
>
  <div class="flex h-12 content-center items-center justify-around">
    {message}
  </div>
</div>

<script>
  const toasts = document.querySelectorAll('.toast');

  toasts?.forEach((toast) =>
    toast.addEventListener('click', () => {
      // allows for early dismiss on click
      toast.classList.add('hidden');
    })
  );
</script>
